[2021-04-13 17:17] jayunit100 opened #1 "fix getSourceVip"
evidently ross @rancher has a fix to the host ip issues

[2021-04-13 17:19] jayunit100 commented on #1
https://gist.github.com/rosskirkpat/063416fdf5512adc99fab85a411f7947

[2021-04-13 17:31] jayunit100 opened #2 "modularize cni provider"
one possible solution:
1) make a dir cni/  that is in .gitignore
2) make a dir called cni_antrea/
3) make a dire called cni_calico/
4) make a dir called cni_flannel/

add a Makefile command that copies contents of 2/3/4 into `cni/` on demand and have vagrant run the scripts in the `cni` folder on startup as a default.

[2021-04-13 17:32] jayunit100 opened #3 "modularize cri"
i.e. containerd

[2021-04-13 17:34] jayunit100 opened #4 "provision script to patch kube-proxy/kubelet"
james sturevant has an example

[2021-04-13 17:37] jayunit100 opened #5 "test vagrant recipes on windows !"
@phillipsj

[2021-04-13 21:43] jayunit100 opened #6 "KPNG Windows sandbox recipe"
Kube proxy makes firewall rules , by using golang to make system calls to windows.  so this is all synergistic.
:
- go through the kube-proxy windows directory and document the codepath and structs https://github.com/kubernetes/kubernetes/tree/master/pkg/proxy/winkernel
- make a golang library that does the same low level HNS calls that it does
- put that golang library to the test inside of one o

[2021-04-15 13:44] phillipsj commented on #5
@jayunit100 @FriedrichWilken so the current version of Vagrant has an issue on Windows. I have tried the work around and it still doesn't work. I will try downgrading and see what happens.

https://github.com/hashicorp/vagrant/issues/12121

[2021-04-16 19:09] sladyn98 commented on #1
@FriedrichWilken Would we want to get this into the powershell script to see if it works or are we going down another route with this ?

[2021-04-17 00:32] FriedrichWilken commented on #1
@sladyn98 well, the k.ps1 causes two errors
[code]
Where the second seems to be caused by the first one. The first one points at `C:\k\helper.psm`
in this file at the is this function that seems to be the problem.
[code]
So I would suggest that we throw a copy of the file @jayunit100 shared (without the `Invoke-WebRequest ...`) into the `./Win` dir and call it in `k.ps1` instead of
[code]

[2021-04-17 11:47] FriedrichWilken commented on #1
That did not fix the problem, so I am trying to really understand what is going on here. Unfortunately I have zero experience with powershell and I have to admit that until now I was only copy/pasting stuff I found on Google. But I will try my best:

The error says simply, that you can't index into an empty array, and even I understand that:
[code]
so let's look why it is empty. This function caus

[2021-04-17 11:59] sladyn98 commented on #1
@FriedrichWilken Did you push this code to the k.ps1 ?

[2021-04-17 12:23] FriedrichWilken commented on #1
now, sorry cleaned everything up first.

[2021-04-17 12:24] FriedrichWilken commented on #1
@sladyn98  let me know if this now works for you as well so I could close this issue.

[2021-04-17 12:47] FriedrichWilken opened #7 "execute k.ps1 "remotely""
When I try to execute k.ps1 via winrm on a fresh vm I get this error:
[code]
Same happens when I log into Windows (no ssh or winrm, directly over the VirtualBox UI) and try to run k.ps1 from powershell:
[code]
I can see c:\sync from powershell:
[code]
but I cant see it's content:
[code]
This, however, changes when I simply navigate over to c:\sync\ with the Windows Explorer:
[code]

So it looks li

[2021-04-17 13:41] sladyn98 commented on #1
@FriedrichWilken  I tried it out but hitting this error

vagrant winrm -c "Restart-Computer" winw1
Failed to restart the computer vagrant with the following error message: The system shutdown cannot be initiated because there are other users logged on to the computer.
At line:1 char:1
+ Restart-Computer
+ ~~~~~~~~~~~~~~~~
    + CategoryInfo          : OperationStopped: (vagrant:String) [Restart-Co

[2021-04-19 10:34] FriedrichWilken commented on #1
Looks like you are legged in the vm. This will prevent it from rebooting.

[2021-04-19 13:52] FriedrichWilken commented on #7
I resolved this by suppressing all info and warnings for the PowerShell script.

[2021-04-19 13:53] #7 closed

[2021-04-19 14:17] jayunit100 commented on #6
As a starting project...

...  literally copy / paste the https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/winkernel/hnsV2.go and https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/winkernel/hnsV1.go files into a new repo (this one) and try to get them to compile / write unit tests against them..

[2021-04-19 14:54] #1 closed

[2021-04-27 17:35] jsturtevant opened #8 "Add ability to create cluster with containerd"

[2021-05-18 17:18] jayunit100 opened #17 "james wants tilt"

[2021-05-18 17:39] jayunit100 opened #18 "cloud ci ?"
- vagrant-azure provider
- github actions vagrant  probably not enough CPU
- virtbox/vmw in nested cloud

[2021-05-25 17:43] jayunit100 opened #19 "add antrea as a cni"
Easy way to get a dev antrea instance running for CNI

0) Make sure you use antrea 0.13.2 ! it has a fix to a race condition in binding the vnic in containerd.

1) Setup antrea on linux nodes:
[code]

Now its running on linux,....

2) Now install on your windows node
[code]
then enable testsigning

[code]

Then do this:
[code]

.... Now, follow the steps here .... (some of these steps we already d

[2021-06-02 14:06] johnSchnake opened #21 "Problem with vagrant-shell script"
[code]

I'm trying to get this to run on my Macbook but ran into #20 and also the above issue. Not certain yet how to resolve this one; I was hoping it would be apparent to someone more familiar with the codebase already. Otherwise I'm happy to dig into it a bit.

[2021-06-02 17:12] FriedrichWilken commented on #21
John, thanks for looking into this and giving feedback. Are you on an Intel or M1 MacBook? @jayunit100  , did you run into similar problems on your M1?

[2021-06-02 18:19] johnSchnake commented on #21
Intel; 2.2 GHz 6-Core Intel Core i7

[2021-06-02 18:22] jayunit100 commented on #21
never saw this !!!!!!!!!!

[2021-06-02 18:23] jayunit100 commented on #21
thats happening INSIDE of the powershell .

- Is there a possibility the intermediate `join` file isnt being written out properly?
- @FriedrichWilken can we add a thing to validate/templatize that intermediate file more robustly ?

[2021-06-02 18:33] johnSchnake commented on #21
join.txt has
[code]

prepjoin.ps1 creates the kubejoin.ps1 and results in:
[code]

which seems odd but explicit per the prepjoin code. Also seems like a space may be missing.

[2021-06-02 18:40] FriedrichWilken commented on #21
I also found this in `master.sh` :
```echo "`cat /var/sync/join.ps1` --cri-socket=\"npipe:////./pipe/containerd-containerd\"" > /var/sync/join.txt```
Something is off.

[2021-06-03 10:06] perithompson opened #22 "Use my local k8s dev folder"
Can we add a flag to skip cloning kubernetes if I have a local environment setup already?  At the moment this clones k8s down but I already have a copy of this on my laptop

[2021-06-03 10:45] sladyn98 commented on #21
It looks like `master.sh` puts :

[code]

inside `join.txt ` and then `prepjoin.ps1` creates `kubejoin.ps` and again appends the above to it resulting in it getting added twice. Ideally this should happen only once. A simple fix could be making sure `kubejoin.ps1` is created correctly
@FriedrichWilken You could make the templating more robust, by getting rid of `prepjoin.ps1` responsiblity of crea

[2021-06-03 16:44] FriedrichWilken commented on #21
Yes, I have to wrap my head around all the recent changes. I lost track.

[2021-06-03 20:10] johnSchnake commented on #21
I tried just removing the part of master.sh where it added to that file; so it would just exist once.

Got
[code]

The file looks OK; just the single cri-socket flag but I'm assuming there should have been more to it. Will try and take a look at it soon.

[2021-06-03 22:13] FriedrichWilken commented on #21
I get a similar error:
[code]

I have to catch up with all the recent changes to the project.

[2021-06-03 23:57] FriedrichWilken commented on #21
I see now,
1. `master.sh` writes the `kubeadm token create --print-join-command` to `join.txt`
2. `master.sh` appends `--cri-socket "npipe:////./pipe/containerd-containerd"`
3. `prejoin.ps1` takes `join.txt`, adds `--cri-socket "npipe:////./pipe/containerd-containerd"` AGAIN and creates a `kubejoin.ps1` with all the text
4. vagrant runs `kubejoin.ps1`

But I think the actual problem might just be

[2021-06-05 07:35] sladyn98 commented on #21
@FriedrichWilken Yeah that looks like a valid fix, this looks like a network issue that we need to debug

[2021-06-06 11:14] #22 closed

[2021-06-07 17:00] jayunit100 opened #24 "Increase local timeout for wsmanfault / restart"
Just got this at the end of a full cycle of `make all`....

[code]

[2021-06-07 17:06] jayunit100 opened #25 "add natural ordering to makefile and split out download"
Anything we can do to make the explicit steps obvious will be nice for our overall UX as we add more customizations
[code]

[2021-06-07 17:20] jayunit100 opened #26 "WinRM Exec error...."
weird `winrm` error that i just saw...
[code]

[2021-06-07 17:22] jayunit100 commented on #26
evidently this happens on both hyperv and virtualbox during reload after install (per jamie)

[2021-06-08 17:57] jayunit100 opened #27 "Fix InternalIP value if possible for linux"
not sure how we create internal IPs , probably a kubelet metadata issue,
[code]

[2021-06-09 14:59] perithompson opened #28 "Run dev build control plane"
I would like to be able to run a cluster with an alpha build on the control plane as well the windows node, can we create a way to run that from one command like we can for Linux?

[2021-06-09 15:49] perithompson opened #29 "Install SSH on the node"
Please can we add an ssh server to the windows box

The steps below are how ansible installs SSH, on windows, these require a relatively up to date server 2019 image, there is a KB that enables this as well but these steps should be enough to understand setting this up

Requires admin rights to install

- name: Install OpenSSH
  win_shell: Add-WindowsCapability -online -Name OpenSSH.Server~~~~0.0.

[2021-06-09 17:48] jayunit100 opened #30 "[idea] host all windows bits on the linux node"
- Vagrant sync doesnt work on all platforms (i.e. requires rsync on aws)
- Vagrant sync is slow and locks up on virtualbox
- Windows does alot of wgetting and that slows down load time, even though most of the time the
stuff we load is the same (antrea-agent.exe, kube-proxy.exe, and so on), and doesnt need to be compiled (we support compilation but, would be easier if we could just run w/o compila

[2021-06-10 12:07] jayunit100 opened #31 "NuGet, CheckNSSM, containerd optimizations"
We want to be able to continually re run provisioning
so, lets

1) Check nuget installed (maybe find nuget | something ?) and skip if we can
2) Check `Get-Service *containerd` and if installed/ running, skip containerd1 and containerd2
3) chek if nssm is installed, and if so, skip its setup

estimating this will save us alot of time

[2021-06-15 13:49] FriedrichWilken commented on #28
I did some changes to the whole project that allows more flexibility for cases like yours, @perithompson:
[code]
if I changed it like this:
[code]
will lead to this:
[code]

[2021-06-15 17:03] jayunit100 commented on #28
[code]

[2021-06-15 17:38] jayunit100 opened #33 "smoke test cni"
@FriedrichWilken lets make a smoke test, based off soemthing IIS, like ....

https://github.com/jayunit100/k8sprototypes/blob/master/windows/smoke-test.yaml

[2021-06-23 14:39] perithompson commented on #28
this is now working and can be close! thanks @FriedrichWilken !!

[2021-06-23 14:39] #28 closed

[2021-06-24 17:09] jayunit100 opened #35 "Replace Makefile w/ golang kow"
The current flow of the code is:

[code]

What we want is:
[code]

Implementation:
- replace fetch.sh w/ golang cli
- replace makefile w/ golang cli
- remove ALL defaults and ALL alternate inputs from bash scripts
- remove all SED and BASH nonsense
- generate Vagrantfile
- use https://github.com/kubernetes-sigs/sig-windows-tools/pull/153 as the artifacts server

[2021-06-26 08:46] sladyn98 opened #38 "Run Sonobuoy conformance tests"
We would like to have the sonobuoy tests to run

[2021-06-26 08:46] sladyn98 commented on #38
@johnSchnake Hey sonobuoy would run on the linux controlplane right, and does it have to wait for the windows node to be up before running the e2e tests, because in our flow the controlplane.sh runs and then goes over to the windows node for setup

[2021-06-26 09:59] sladyn98 commented on #38
[code]

[2021-06-26 10:03] sladyn98 commented on #38
[code]
@johnSchnake When running this on the control plane I hit this

[2021-07-04 11:50] jayunit100 opened #46 "antrea CNI not setting default gateway correctly"
Antrea CNI works be using the `node-ip`  address to find a device, and then tries to use that specific Device to pick a `gateway`.  That default gateway is the `uplink` for OVS.

However, it looks like it wants that device to have a `destinationPrefix` of 0.0.0.0/0 , as a way to find the default gateway by then extracting the NextHop value.

So the question is... can we hardcode that NextHop value

[2021-07-04 12:01] jayunit100 commented on #46
working cluster from another env on vsphere, we can see that Get-NetRoute has a `0.0.0.0/0` destination prefix for the 13 if... that 13 if is queried (see bottom of this paste), using `Get-NetAdapter`
[code]

the ipconfig output
[code]
the network adapter 13... is the one that is correct
[code]

[2021-07-04 16:34] jayunit100 commented on #46
xref https://github.com/antrea-io/antrea/issues/2344
ive experimented with a couple of other options/workarounds for us...

# antrea
- `public_ip` seems to fail (somehow in this case, windows doesnt setup the right routes at all
- `private_ip` which is what we do now seems to mostly work, but doesnt have a default gateway, so antrea gets mad

# calico
- we havent tried calico yet but,
- calico mig

[2021-07-05 09:24] jayunit100 commented on #46
@wenyingd can you suggest us a fix here ? Would like to keep using antrea as the default CNI if possible. But Virtualbox wants to make 2 NICs and my initial experiments to use public_network seem to fail.

[2021-07-06 19:25] JocelynBerrendonner commented on #46
@Keith-Mange, @daschott, @sbangari, the above topic was brought up by @jayunit100 during the SIG Windows meeting today. Can I let you look into it, please?

[2021-07-06 22:41] jayunit100 commented on #46
as one workaround, ive attempted to use `public_network`s, however that didnt seem to result in the same IP space for windows and linux.  Somehow the windows VMs dont adopt the same 10.... subnet ips.  https://serverfault.com/questions/1068830/how-can-i-use-vagrant-to-give-windows-and-linux-servers-in-a-vagrantvirtualbox

[2021-07-12 18:43] FriedrichWilken commented on #5
I have started to work on this [in this fork](https://github.com/FriedrichWilken/sig-windows-dev-tools). For now I have created a second Vagrantfile. I hope we can later consolidate the vagrantfiles.

[2021-07-12 18:52] marosset commented on #5
/cc

[2021-07-12 22:26] jayunit100 opened #57 "windows-dev-tools vagrant boxes"
This will require a long term owner - so hope someone wants to sign up for it, really cool project.

We need to build our own vagrant boxes, possibly w/ image-builder and packer.

These would then probably bootstrap and install alot faster.

https://github.com/kubernetes-sigs/image-builder/tree/master/images/capi most likely can be used as the basis for how this is done .

To get started:
- learn

[2021-07-12 22:43] marosset commented on #57
/cc

[2021-07-13 18:03] marosset opened #60 "Enable SSH on Windows nodes"
We should enable SSH on the Windows nodes (because who likes using WinRM...)

Here is some powershell we use in aks-engine to start the ssh server and add authorized keys.
https://github.com/Azure/aks-engine/blob/master/parts/k8s/windowsinstallopensshfunc.ps1

[2021-07-27 17:06] jayunit100 opened #64 "figure out what pause image we should use?"
- gcr didnt have windows , but now it does
- currently we send this argument... but somehow we try to run the wrong pause image i think...
```  Warning  FailedCreatePodSandBox  26m (x2 over 26m)  kubelet            Failed to create pod sandbox: rpc error: code = Unknown desc = failed to get sandbox image "mcr.microsoft.com/oss/kubernetes/pause:1.4.0": failed to pull image "mcr.microsoft.com/oss/ku

[2021-08-02 20:02] johnSchnake commented on #64
I dont think the cmd is being processed how we think it is; I see in code where we specify that pod-infra-container but I've checked and on both my linux node and windows node, the infra container is set as "--pod-infra-container-image=k8s.gcr.io/pause:3.4.1" which is the default value for this version of k8s

So, not only does the value we chose not seem to get passed to the kubelet, I'm not sure

[2021-08-02 20:22] johnSchnake commented on #64
Not sure if it is related, but as I was digging around on the windows node, I was trying to find log info and found the IIS logs:

[code]

In addition, I'm not certain about the networking/sockets on windows. I tried something simple like `ctr containers list` and it complains about permission denied to the socket address.

[2021-08-02 20:28] johnSchnake commented on #64
For that first issue; it seems we download that binary and try to invoke it. I hate powershell for making things like that hard but I'm experimenting with just running it via `Start-Process ... -ArgumentList` and seeing if that helps IIS and cluster health in general.

[2021-08-02 21:04] johnSchnake commented on #64
I found the kubeadm-flags.env file and shows 3.4.1 version:
[code]

[2021-08-03 00:09] jayunit100 commented on #64
Ahh thanks
Make sure to rebase on master I just fixed some issues w calico.

[2021-08-03 16:07] johnSchnake opened #70 "Missing logs"
`vagrant up` seems to get nodes up but after 20+m of provisioning I still ended here:

[code]

And kubectl shows both nodes:

[code]

Then when I run sonobuoy it starts running but I can't get logs or status info and the IIS server container seems to have a problem too:

[code]

_Originally posted by @johnSchnake in https://github.com/vmware-tanzu/sonobuoy/issues/1320#issuecomment-891207710_

[2021-08-03 16:08] johnSchnake commented on #70
This coupled with an issue trying to check containers on the windows machine (ctr complained about permissions to the pipe) means I'm not really certain if _any_ container can run on the windows node since I don't get good feedback.

[2021-08-04 09:19] perithompson opened #71 "Unable to create control plane"
When creating a dev environment using a standard release  the control plan has the following error

[code]

Switching to deb http://packages.cloud.google.com/apt/ kubernetes-xenial main seems to fix this

[2021-08-04 09:19] perithompson commented on #71
/king bug

[2021-08-04 13:48] knabben opened #72 "Install Kube-proxy service with calico"
Replicate these steps on PS1 files and smoke test it

![image](https://user-images.githubusercontent.com/1223213/128192299-3bd266e8-bb48-4d58-afc0-b173058ba652.png)

[2021-08-04 13:48] knabben commented on #72
/assign

[2021-08-09 20:59] jayunit100 opened #73 "figure out Why do our calico routes use pod IPs as the gateway ? (either vxlan or config errors)"
this maybe a vxlan networking issue, but it seems like the calico linux
node cant contact the calico windows node because its trying to route to
something using a `100.244.206.65` ip address.

# kind
In a BGP cluster, the routes are easier to reason about:

[code]

But in our clusters, the networks dont really make sense,

# windows
[code]

[2021-08-10 01:44] jayunit100 opened #74 "container runtime not honored, lets remove it from kubelet startup on windows"
in the windows kubelet startup, we try to specify the pause image, but theres no reason to do this:

[code]

# Details on why this is a silly thing to do

... But the kubelet itself, if
[code]
$config = Get-Content "$global:ConainterDPath\config.toml"
$config = $config -replace "bin_dir = (.)*$", "bin_dir = `"c:/opt/cni/bin`""
$config = $config -replace "conf_dir = (.)*$", "conf_dir = `"c:/etc/cni

[2021-08-10 12:46] perithompson commented on #74
@dims was saying this was needed yesterday?

[2021-08-10 15:24] jsturtevant commented on #74
It was added to linux in image builder because it was missing: https://github.com/kubernetes-sigs/image-builder/issues/486

[2021-08-10 16:33] FriedrichWilken commented on #73
is this from the main branch?
on my side it looks like this:
[code]

[2021-08-10 16:38] jayunit100 commented on #73
hm is your windows node not joined yet?

[2021-08-11 21:11] knabben opened #76 "Create health check script for node status report"
We must create a shell script for full nodes/components report (windows, CNIs, k8s objects), this way we can have a big picture of what is working/not.

Some examples:

Istio have a `verify-install` for sanity report.
https://istio.io/latest/docs/reference/commands/istioctl/#istioctl-verify-install.

[2021-08-16 15:27] perithompson opened #78 "Move to Server Core 2019"
We should create a base image with hyperv (disabled hypervisor) and containers already setup on server core and vim installed as default for text editing to make the box as fast and small as possible

/kind feature

[2021-08-16 15:28] perithompson commented on #78
/cc @FriedrichWilken

[2021-08-16 17:37] jayunit100 opened #79 "add tolerations to smoke test"
Pretty soon we'll be tainting our windows nodes, and along the way we'll want to also tolerate them accordingly

good first issue to add these tolerations into our smoke-test.yaml file
[code]

[2021-08-16 18:42] jayunit100 commented on #79
also add a nodeport service to it

[code]

[2021-08-16 19:14] FriedrichWilken commented on #78
Yes, I am already trying to get into this. Vim is a very valid point that I will add to my list.

[2021-08-16 19:58] marosset commented on #78
I suggested we make our own images too on slack :)

[2021-08-16 19:58] marosset commented on #78
https://github.com/kubernetes-sigs/sig-windows-dev-tools/issues/57

[2021-08-17 08:04] perithompson commented on #78
We could use imagebuilder but it changes the logic a little to replacing things that are already there rather than installing fresh,  did we ever find out if we can use GH actions to run a vagrant build?

[2021-08-17 11:19] jayunit100 commented on #46
Reproducing the issue:
- set cni=antrea
- make all
- verify that antrea-agent fails
- try to swap antrea agent out with https://github.com/antrea-io/antrea/issues/2344
   - `make windows` to make antrea-agent.exe
   - mount the new antrea-agent.exe  into the windows VM

[2021-08-17 11:20] jayunit100 opened #80 "allow pluggable antrea"
part of #46 , is making it so that we can put a local copy of antrea-agent.exe and antrea cni in the windows node.  That will make it easy to test antrea modifications, specifically, we want to test the antrea/2344 patch which allows specifying a network interface for pod communication.

[2021-08-17 11:26] jayunit100 commented on #80
normal:
[code]

virtualbox:
[code]

why 10.0.1.96 ? SO THAT YOU CAN REACH THE INTERNET !

[2021-08-17 11:37] jayunit100 commented on #80
TODO figure out if amim fixed this...
![image](https://user-images.githubusercontent.com/826111/129719200-4fe23708-6d0a-40ee-9145-29799884a85d.png)

[2021-08-17 11:40] jayunit100 commented on #80
TODO writeup whatever that whole VMWare workstation issue is...

[2021-08-17 11:42] jayunit100 opened #81 "Explore VMWare workstation as vbox alternative"
@FriedrichWilken

As a workaround to the vbox multiple nics issue.... is it possible to create VMs in VMW workstation/fusion that don't have the dual NIC setup ?

[2021-08-17 11:54] jayunit100 commented on #81
also check if https://github.com/kubernetes-sigs/sig-windows-dev-tools/pull/77 works, if so, maybe that fixes our nic problems

[2021-08-17 11:59] jayunit100 commented on #38
https://sonobuoy.io/sonobuoy-adds-windows-support/

[2021-08-17 12:04] jayunit100 opened #82 "GH actions"
- vagrantfile lint
- maybe try vbox install and up ?  see how far it gets :)

[2021-08-17 12:06] jayunit100 opened #83 "add recipe to install csi-proxy agent on windows node"
- https://www.youtube.com/watch?v=fa5Q8VCyS3k
- https://github.com/rancher/wins
- add README_CSI_PROXY.md to this repo
- see if you can get a windows pod to mount a nfs volume somehow (might require installing nfs server on the ubuntu node)

[2021-08-18 13:17] FriedrichWilken commented on #71
I think this was resolved and can be closed, right?

[2021-08-19 08:40] FriedrichWilken commented on #71
/close

[2021-08-19 08:40] #71 closed

[2021-08-20 09:28] FriedrichWilken opened #85 "stop using the old Install-Containerd.ps1"
We used to download and execute Install-Containerd.ps1. Meanwhile, we moved on to use our own version of that script, yet we still have a line somewhere to execute the not existing downloaded version. This causes a (not breaking) error that makes it harder to scan the output for actually relevant error messages:
[code]

[2021-08-24 01:44] wenyingd commented on #46
You can follow these steps to test antrea patch: https://github.com/antrea-io/antrea/issues/2344

1. Compile antrea-agent.exe under antrea package. If you run Antrea Agent in daemonset (requiring docker is working as runtime on Windows Node), run `make build-windows` to generate Windows docker image; If you run it as a Windows process, run `make windows-bin`
2. Ensure the Windows network adpater w

[2021-08-24 12:52] knabben opened #86 "Windows pods are in crashloopback"
Investigate why Windows pods are on crashloopback, logs attached:

[code]

from Jay:

I guess its failing bc it does some weird DNS request.  probably bc that private-network doesnt have public DNS.  Thats fine, maybe we can just remove thet Invoke-WebRequest call from the IIS pod

[2021-08-24 16:31] knabben commented on #72
Added on https://github.com/kubernetes-sigs/sig-windows-dev-tools/pull/84

/close

[2021-08-24 16:31] #72 closed

[2021-08-24 17:04] knabben opened #87 "Windows pods are slow to start"
Investigate why windows pods are hung with `ContainerCreating` and after ~15 minutes they start to run.

[code]

[2021-08-24 17:04] jayunit100 commented on #86
this is probably my fault, i copy/pasted the wrong windows YAML from the internet :)

[2021-08-24 17:05] jayunit100 commented on #86
@knabben .... lets get rid of this ServiceMonitor nonsense ?

[2021-08-24 17:08] jayunit100 commented on #86
https://github.com/jsturtevant/windows-k8s-playground/blob/master/deployments/iis/iis-prewarm.yaml maybe ?

[2021-08-24 18:44] knabben commented on #87
Can be due to big win images pulling.. checking if the container is on pulling image status with decribe

[2021-08-25 08:13] perithompson opened #88 "Could we have some examples for the variables files"
Some examples could be
- latest k8s version (stable)
- build from master
- use existing repo

for instance I keep forgetting what the stable k8s images repo is

[2021-08-29 11:07] jayunit100 commented on #46
ok thanks @wenyingd , will test it out

[2021-08-31 12:13] jayunit100 commented on #46
potentially fixed by #90 ... will try to close this once its automated with the right NIC input

[2021-08-31 17:46] johnSchnake commented on #38
I'd love to help implement this.

I am working on getting this project working for our own sonobuoy-on-windows testing too :)

The issue is that I seem to keep hitting problems setting up the cluster. I'll open another issue but know that I'm totally on board for working on this.

[2021-08-31 18:01] johnSchnake opened #91 "CNI plugin not configured?"
I know the windows node takes time to come up but so far its been over an hour and still reads as not ready:

[code]

The reason is:

[code]

When I ssh'd into the winw1 box and checked the kubelet process, it was started with `--network-plugin=cni`. I dont usually tweak kublet args or CNI configs, so I'm not sure if the problem is within one of the listed config files or if that `--node-ip=` shou

[2021-08-31 18:02] johnSchnake commented on #91
My cluster is still up, so if there are some debug commands I can run that would be useful, lay'em on me!

[2021-08-31 18:44] knabben commented on #46
Having this issue when provisioning Antrea steps on master

[code]

[2021-08-31 19:38] knabben commented on #46
Testing the new version on:
https://github.com/kubernetes-sigs/sig-windows-dev-tools/pull/92

[2021-08-31 22:22] knabben commented on #91
@johnSchnake you should be receiving `10.20.30.11` - https://github.com/kubernetes-sigs/sig-windows-dev-tools/blob/master/sync/shared/variables.yaml#L9, in the Vagrantfile.

Have you changed the settings or can you confirm what value the Vagrantfile is having?

[2021-08-31 22:23] knabben commented on #86
/assign

[2021-08-31 22:40] knabben commented on #91
when running the provision you will see something like:

[code]

[2021-08-31 23:35] johnSchnake commented on #91
So I do see that it tried to set it:
[code]

But for some reason that value was empty I guess. The IP was set as you showed in the variables file.

I'm going to try again and also see if that env var is still set after provisioning. Not sure if it just set for that step or not. But that will help me trace it back a bit. Thanks for the help so far.

[2021-09-01 00:50] jayunit100 opened #93 "Protopying using Remote VSphere Vagrant provider"
For some folks , virtualbox doesnt install properly...
- weve tried hyperv and that didnt work well
- other hypervisors to try:
  - vsphere
  - azure
  - ec2
  - ...

[2021-09-01 01:06] knabben commented on #87
[code]
Confirming this is pulling..

/close

[2021-09-01 01:06] #87 closed

[2021-09-01 01:11] wenyingd commented on #46
Hi, the error occurs if you install the upstream OVS driver on Windows host for the first time. It is because the upstream OVS driver is not signed, and Windows doesn't trust the publisher. To resolve it, you need to enable testsigning mode on the Windows host in advance, and it should be safe to use a console for the installation at the first time, because Windows might give a popup window to ask

[2021-09-01 03:35] johnSchnake commented on #91
@jayunit100 had mentioned to check the `C:/CalicoWindows` directory but that doesnt exist locally.

I tried killing the kubelet and restarting it with the ip explitly written but I kept getting a myriad of errors and warnings about the flag values. Since I don't do a lot of kubelet-tweaking I'm not sure if that was a reasonable approach.

Going to try again with a different CNI specified.

[2021-09-01 04:14] johnSchnake commented on #91
So I'm turning in, but I did try again with antrea CNI and got the same situation. The windows box is NotReady due to the CNI and I have the same kubelet cmd issue:
[code]

[code]

[2021-09-01 10:40] knabben commented on #91
how are you provisioning these resources, if the folder does not exists, is because it didnt run calico steps yet.

Try a new fresh environment with:

[code]

[2021-09-01 10:45] knabben commented on #46
@wenyingd thanks.

will try these steps
https://docs.microsoft.com/en-us/windows-hardware/drivers/install/the-testsigning-boot-configuration-option

[2021-09-01 10:48] knabben commented on #91
@johnSchnake pls, ping me @knabben #sig-windows on slack so we can debug this closer.

[2021-09-01 12:35] perithompson commented on #46
[code]

[2021-09-01 13:38] knabben commented on #3
/remove lifecycle/rotten

[2021-09-01 13:39] knabben commented on #3
Use containerd as replacement for Docker in the controlplane

[2021-09-01 13:40] perithompson commented on #29
this is fixed by #66

[2021-09-01 13:40] #29 closed

[2021-09-01 13:41] perithompson commented on #60
this is completed by #66 think this can be closed

[2021-09-01 13:41] knabben commented on #3
/remove-lifecycle rotten

[2021-09-01 13:42] perithompson commented on #60
/close

[2021-09-01 13:42] #60 closed

[2021-09-01 14:12] johnSchnake commented on #91
@knabben thanks for the help. I do think that was the core of the issue. The problem seems to be that I, to try and figure out how to run it, did a `cat README.md` and so I saw the instructions closer to the bottom which said to just do a `vagrant-up` which doesn't do some of the provisioning steps.

I'll tweak the readme in a PR to try and avoid that, but this was 100% user error.

This morning I

[2021-09-01 14:12] #91 closed

[2021-09-01 14:23] knabben commented on #91
@johnSchnake awesome you got it solve.

FWIW we are working on a fix for Antrea at: https://github.com/kubernetes-sigs/sig-windows-dev-tools/issues/46

It will probably bring have some issues when you start to use it.. Calico is working though.

[2021-09-01 14:23] knabben commented on #91
@johnSchnake awesome you got it solved.

FWIW we are working on a fix for Antrea at: #46

It will probably bring have some issues when you start to use it.. Calico is working though.

[2021-09-01 14:57] johnSchnake commented on #38
I just resolved my issue regarding setting up a cluster; going to work on this today and see how it goes. Should be simple _if_ things go according to plan.

[2021-09-01 21:34] knabben commented on #76
https://github.com/kubernetes-sigs/windows-testing/blob/188e78fe46b38601c9b7155c5e59a9a7199d9e39/scripts/Debug-WindowsNode.ps1

this can be a good start

[2021-09-01 22:14] knabben commented on #76
https://github.com/Microsoft/SDN/blob/master/Kubernetes/windows/test/ValidateKubernetes.Pester.tests.ps1

[2021-09-02 16:26] johnSchnake commented on #86
@knabben is there something I can do to help on this? I was just about to report this same issue as I was working on the sonobuoy integration.

[2021-09-02 19:51] knabben commented on #86
@johnSchnake I'm trying a few images without servicemonitor.exe if you have one more stable feel free to replace the one we have in the yaml

[2021-09-03 21:46] johnSchnake commented on #86
So I'm trying to just "fix" the existing code and found 2 things of note:
 - 1) The version of servicemonitor that was specified did not exist on the downloads page for some reason
 - 2) After updating it to an existing release I still got the same error. However, from the NODE it worked so I think something is wrong with the networking on the pod.

[code]

Maybe ya'll already knew that was the ca

[2021-09-03 22:22] johnSchnake commented on #86
https://stackoverflow.com/questions/60885492/cant-access-internet-from-within-windows-gke-pod says that MAC spoofing needs to be enabled but I'm out of my norm here and unsure if this is something to be done at the virtualbox/vagrant/windows level.

Am I off base here or does this seem like a trail to follow?

[2021-09-04 14:57] knabben commented on #79
@jayunit100
should this issue be closed by https://github.com/kubernetes-sigs/sig-windows-dev-tools/pull/89/files?

[2021-09-04 15:00] knabben commented on #8
duplicated of https://github.com/kubernetes-sigs/sig-windows-dev-tools/issues/3?

@jsturtevant @jayunit100

[2021-09-04 15:02] knabben commented on #4
/remove-lifecycle rotten

[2021-09-04 15:04] knabben commented on #4
@jayunit100 can you add the description here? what should be patched?

[2021-09-04 15:22] knabben commented on #73
can this be closed? this was fixed on https://github.com/kubernetes-sigs/sig-windows-dev-tools/pull/84

[2021-09-04 15:27] knabben commented on #86
We agreed in the last sig-windows pair to change the image here to the official IIS, instead of changing the command. Probably a better try. https://hub.docker.com/_/microsoft-windows-servercore-iis

[2021-09-05 13:05] jayunit100 commented on #73
ya sure

[2021-09-05 13:05] #73 closed

[2021-09-05 13:06] jayunit100 commented on #73
fwiw, if folks want to understand why calico routes were wrong, look at amim's commits that fixed this recently

[2021-09-07 19:27] knabben commented on #46
Oh signing did not fixed that

[code]

[2021-09-14 13:38] johnSchnake opened #98 "Faster iteration via preloading Windows images"
Pulling the windows images often takes a long time, slowing down iteration time.

We should establish a way to prepull the images locally on the host and then move/load them into the Windows machine.

Since you cant do something like `docker pull...` for windows images when you're on mac/linux, we need to download them as tarballs and once the Windows machine comes up, load that tarball of images.

[2021-09-14 15:32] knabben commented on #8
/remove-lifecycle rotten

[2021-09-16 16:15] #6 closed

[2021-09-21 13:42] jayunit100 opened #99 "image-builder-sandbox"
Taking from https://github.com/kubernetes-sigs/sig-windows-tools/issues/169

[code]
...  with all the docs for what we do with image builder for windows ....

[code]

[2021-09-22 07:39] FriedrichWilken commented on #99
how do we handle VagrantUp.com? Do we create a shared account there?

[2021-09-23 22:35] FriedrichWilken opened #105 "add choco to image-builder"
Now that we have made some progress with Windows image-builder, let's add [Choco](https://community.chocolatey.org/) to it.

This allows us to take care of other items from our Windows wish list like:
[guest tools](https://community.chocolatey.org/packages/virtualbox-guest-additions-guest.install)
[vim](https://community.chocolatey.org/packages/vim)

More package proposes are welcome.

[2021-09-28 03:31] jsturtevant opened #110 "vagrant up controlplane fails on Windows machine"
[code]

lowered cpu/memory variables but otherwise left everything untouched:

[code]

[2021-09-28 08:05] FriedrichWilken commented on #105
Choco was added to image-builder: https://github.com/kubernetes-sigs/sig-windows-dev-tools/pull/109

To add additional software via choco look here: https://github.com/kubernetes-sigs/sig-windows-dev-tools/blob/master/experiments/image-builder/overlays/ansible/roles/utilities/tasks/main.yml

At the moment we only add vim, but that was highly anticipated by a lot of users.

[2021-09-28 08:05] #105 closed

[2021-09-28 16:26] knabben commented on #98
@johnSchnake what images are you using? maybe we can import the most used ones

[2021-09-28 17:18] jsturtevant commented on #110
going to try:

vagrant plugin install vagrant-vbguest

[2021-09-28 17:32] jsturtevant commented on #110
That seems to have worked, I got further:

[code]

[2021-09-28 17:37] jayunit100 commented on #110
sounds like right now, we need to own the story for users to use windows from beggining to end.  as of now only @FriedrichWilken has done this succesfully, and in that case he used hyperv....

[2021-09-28 19:21] FriedrichWilken commented on #35
/remove-lifecycle stale

[2021-09-29 14:53] FriedrichWilken commented on #110
@jsturtevant you don't have make on Windows, so I assume you only run `vagrant up`, right?

[2021-09-29 15:54] jsturtevant commented on #110
yes. regarding the first error, I was running on windows without make, so I ran the `vargrant up` directly and missed the part in the makefile https://github.com/kubernetes-sigs/sig-windows-dev-tools/blob/9b8f4452f009c4330c817f05f8886e0be2b53624/makefile#L38

Some of the instructions in the read me tell you to install plugins others don't. Since Windows won't always have make, we should find a way

[2021-09-29 19:24] jsturtevant opened #111 "On linux with VB, calico fails to set cni confile"
I tried the set up on Linux and got:

[code]

looks close but cni isn't ready:

[code]

[2021-09-29 19:26] jsturtevant commented on #111
running `vagrant provision winw1` a second time worked but the node is still not "ready":

[code]

[2021-09-29 20:50] knabben commented on #57
/assign

starting the build here

https://github.com/kubernetes-sigs/sig-windows-dev-tools/tree/master/experiments/image-builder

[2021-09-30 18:35] johnSchnake commented on #98
Just the main IIS one would even be a win; thats 17m:
[code]

[2021-09-30 19:37] johnSchnake opened #114 "Token not supported on windows"
## What I did

- Set up cluster via `make 2-vagrant-up`
- Modified the iis configuration to use new image per https://github.com/kubernetes-sigs/sig-windows-dev-tools/issues/86#issuecomment-912991747 Then modified the command as needed.
- Try `sonobuoy run --mode=quick` but the container never gets created
-
## What I see

[code]

[2021-09-30 19:38] johnSchnake commented on #114
This is from the service account and I wasn't aware anything related to those would be windows dependent. Looking into it...

[2021-09-30 19:54] johnSchnake commented on #114
Found this in the kubelet logs:

[code]
So it is probably a `chown` command, not the token that isn't supported by windows.

This would potentially be related to a Sonobuoy change lately where we specified the user/group for the pod. Seems odd but that may not be supported by Windows? TBD. Will follow up after I remove that and see if it works.

[2021-09-30 19:56] jsturtevant commented on #114
this looks to be https://github.com/kubernetes/kubernetes/issues/102849

[2021-09-30 19:58] johnSchnake commented on #114
Closing since it seems to be an upstream issue and not this config. Removed that security context and I was able to get things running just fine. Though FWIW I hit another api/permission issue I've got to debug:

[code]

[2021-09-30 19:58] #114 closed

[2021-10-01 14:38] johnSchnake opened #116 "Windows containers cant utilize KUBERNETS_SERVICE_HOST/PORT"
See https://github.com/vmware-tanzu/sonobuoy/issues/1443

TL;DR; kube-proxy is up and running and works for containers on the linux node. Just not windows containers on the windows node.

[2021-10-01 15:03] johnSchnake commented on #116
I tried just running it as a service directly on the node but it needs to be a pod so that it has access to the right tokens and such.

[2021-10-01 15:49] johnSchnake commented on #116
So all the steps I was running to get kube-proxy up are already in the code but I had tried the 'quick start' which didn't do that.

Now I have kube proxy running and it seems to be working though I have some permission issue to figure out.

Thanks!

[2021-10-01 15:49] #116 closed

[2021-10-01 17:37] johnSchnake commented on #116
I'll keep looking into this; need to just see if kube-proxy is running the way it is supposed to be.

In the err logs I see that it fails to find the kubeconfig file (required since its running as a service on the node and not a pod). But it doesn't exist in the place it looks for. I tried to manually set the HOST/PORT env vars before and then it just fails because the in cluster config assumes it

[2021-10-01 17:39] johnSchnake commented on #116
[code]

I have a lot to learn about the windows networking stuff so maybe this is just news to me but I'm just following google and seeing where it takes me...

[2021-10-01 17:47] jsturtevant commented on #116
This is because calico and kube components must currently run as Services on windows because we don't have privileged containers.  If these ran as pods they could use the auto-provisioned SAs.

We have been adding hostprocess containers (available in 1.22 in alpha) which would enable this feature.  I've got an example of how this would work here https://github.com/kubernetes-sigs/sig-windows-tools

[2021-10-01 18:09] johnSchnake opened #118 "calico + kube-proxy configuration error"
Per https://docs.projectcalico.org/getting-started/windows-calico/kubeconfig

calico needs to have a kubeconfig file locally since we're running as a service. This may already be handled in code since I think this was needed for the kubelet. However, the default calico install script and config makes it look in `C:\k\config` which doesnt exist.

When restarting the service you can see that it erro

[2021-10-01 18:22] johnSchnake commented on #118
You can see in C:\calicowidows\kubernetes\kube-proxy-service.ps1 it calls kube-proxy with all those as flags, hence all the deprecation warnings. Not certain that they aren't working though and the dep warning is just for a heads up when they do get removed next.

I am concerned about those version checks failing though; its just frustrating that I can't see something that clarly indicates that it

[2021-10-01 20:29] johnSchnake commented on #118
These are my main two commands I'm testing:

- Running sonobuoy and checking logs I see this message:

```time="2021-10-01T11:22:31-07:00" level=error msg="could not get api group resources: Get \"https://10.96.0.1:443/api?timeout=32s\": dial tcp 10.96.0.1:443: connectex: An attempt was made to access a socket in a way forbidden by its access permissions."```

Then as I tinker and restart the serv

[2021-10-01 20:36] johnSchnake commented on #118
@knabben mentioned that "...[they] are refactoring with some pre-build images from image-builder..." and so it may make sense to put a pin in this and see if the reworked images/flow work better. May just avoid this issue all together. Will revisit Wed and see how the progress is.

[2021-10-06 15:05] jsturtevant commented on #111
running `make destroy` then `make 2` fixed this

[2021-10-06 15:13] jsturtevant opened #119 "windows-2019.box could not be found"
running `make all` or `make 2` errors out with

[code]

It looks like #112 introduced this file but doesn't add it to the repo.  What is an an example of what this file looks like?

/sig windows
/cc @knabben @FriedrichWilken

[2021-10-06 15:46] #119 closed

[2021-10-06 19:06] johnSchnake commented on #86
I think this issue is effectively resolved and we've moved onto having other issues related to the windows networking; I think this can be closed. Right?

[2021-10-06 19:08] johnSchnake opened #121 "kube-controller reports errors for nodeagent~uds"
Kube-controller logs showed lots of errors; not sure if its related to other issues I'm having.

I just updated my repo to master and used `make all`.

[code]

[2021-10-06 19:40] jsturtevant commented on #118
this is probably because the containerd config doesn't have the sandbox pod set properly. Was the host image built from image-builder? I fixed this here: https://github.com/kubernetes-sigs/image-builder/pull/704

Interesting that the `windows-whoami` pod is running though... I would think it wouldn't have worked if the containerd config wasn't correct

[2021-10-06 19:48] johnSchnake commented on #118
Looking at the kubelet logs I also see:
[code]

[2021-10-06 23:19] jsturtevant commented on #118
That sounds like sonoboy isn't pinned to a windows/linux node and might be running on either...

[2021-10-09 15:52] knabben commented on #118
We have a bug in the latest image, containerd does not have the Pause image configured
[code]

[2021-10-15 18:26] #17 closed

[2021-10-15 19:27] #18 closed

[2021-10-16 12:49] johnSchnake commented on #118
Going to close this; seems that it has been resolved. I've been able to launch the windows e2e tests with sonobuoy but there were some other issues. Currently my windows node has an unreachable taint but I'm not certain its an underlying, repeatable issue. I'll make a new issue if it is.

[2021-10-16 12:49] #118 closed

[2021-10-16 12:52] johnSchnake commented on #38
So cluster is still having some issues though its progress.

Now I'm able to run:
[code]
and get things going. The e2e tests themselves stalled out in the pretest logic due to a node being unschedulable:
[code]

Going to try and repro on Monday

[2021-10-17 20:26] johnSchnake commented on #70
Able to get logs now and kube-proxy seems to be working

[2021-10-17 20:27] johnSchnake commented on #70
/close

[2021-10-19 17:46] jayunit100 opened #123 "Host-process containers research"
Lets document in our `experiments/` section

- can look at the code here https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1672
- run host-process  kube-proxy
- run host-process calico
- run host-process antrea

From there in a follow on issue we can implement it in automation...

[2021-10-27 06:27] lippertmarkus opened #125 "Networking only partially works"
When running `make all` on Ubuntu, the script ends successfully including the smoke tests but the calico-kube-controller and calico-node pods are crashing because of failed probes. Logs however don't show any errors:

calico-kube-controllers:
[code]

calico-node:
[code]

Maybe a symptom of that is, that the networking only partially works:

### Pod-to-Internet

linux pod -> internet **works**
[cod

[2021-10-30 16:00] #2 closed

[2021-10-30 16:00] #19 closed

[2021-10-30 16:44] vracademy2999 commented on #119
Active

[2021-10-30 16:44] vracademy2999 commented on #119
start

[2021-11-01 18:43] johnSchnake commented on #38
I was just able to run
[code]
with success. Thats just a single test that is windows specific but its a good start. Will put up a PR soon to integrate this.

[2021-11-02 09:26] #21 closed

[2021-11-04 08:44] lippertmarkus commented on #110
I just published a Vagrant setup which works on Windows here: https://github.com/lippertmarkus/vagrant-k8s-win-hostprocess
I originally started trying to extend your existing work but couldn't get it running. It uses Hyper-V, plain Ubuntu/Windows Server 2022 boxes as well as HostProcess Pods to deploy Calico and kube-proxy to Windows. I tried to make it as simple as possible and provide a walkthro

[2021-11-04 08:45] lippertmarkus commented on #123
For anyone coming across this issue and want to try HostProcess right away: https://github.com/kubernetes-sigs/sig-windows-dev-tools/issues/110#issuecomment-960558105

[2021-11-04 18:52] #24 closed

[2021-11-04 18:52] #25 closed

[2021-11-04 18:52] #26 closed

[2021-11-05 19:05] #27 closed

[2021-11-06 19:20] #30 closed

[2021-11-07 13:22] #31 closed

[2021-11-10 13:53] #38 closed

[2021-11-12 19:21] #33 closed

[2021-12-02 01:20] jayunit100 opened #127 "Antrea end to end UX"
We need to unify the antrea UX for our users,

Lets clean out these issues if possible:
#46
#41
#45

And confirm we can `vagrant up` a working antrea cluster.
cc @edwardbadboy

[2021-12-07 18:36] jayunit100 opened #128 "GMSA server enablement"
@phillipsj has some ideas for automating GMSA, maybe we can
pull them in to here, from https://github.com/kubernetes-sigs/windows-testing/tree/master/extensions

- gmsa-dc should "do" the main stuff
- host needs to be auth. to the domain, UNLESS you have

[2021-12-07 18:38] jayunit100 opened #129 "error during make kubernetes step"
@NikhilSharmaWe Can you add details here?

[2021-12-07 18:57] NikhilSharmaWe commented on #129
@jayunit100 I am trying to make a local kubernetes cluster for testing the changes I make in the repo.

- I followed the steps mentioned in [Quick start](Quick start) in Readme of sig-windows-dev-tools. But when I run make all comamand I get this error `Makefile:1: *** missing separator .   Stop.`

But when I tried it to run at present the process was stuck on Building Docker image step, as you ca

[2021-12-07 19:03] NikhilSharmaWe commented on #129
@jayunit100 I am trying to make a local kubernetes cluster for testing the changes I make in the repo.

- I followed the steps mentioned in [Quick start](Quick start) in Readme of sig-windows-dev-tools. But when I run make all comamand I get this error `Makefile:1: *** missing separator .   Stop.`

But when I tried it to run at present the process was stuck on Building Docker image step, as you ca

[2021-12-07 19:24] jayunit100 commented on #129
Hmmm it just hangs?

[2021-12-07 19:26] NikhilSharmaWe commented on #129
I let it run for over 30 minutes and then I stopped it by ctrlC because there was no change, I thought something was wrong.

[2021-12-09 20:05] #5 closed

[2021-12-17 19:47] jayunit100 opened #130 "Allow hotswapping of calico / antrea versions"
right now if we do "calico" , is the default 3.19.1

but recently we saw https://github.com/projectcalico/calico/issues/5299

so, lets make it easier to do these kinds of a/b tests in the future

[2021-12-17 19:47] jayunit100 commented on #130
/good-first-issue

[2021-12-21 15:07] jayunit100 commented on #93
/assign @vrabbi
seems interested

[2021-12-21 21:25] knabben opened #136 "Use kind for control-plane"
Creating the control-plane via kind can decrease the memory footprint from the required 4Gb.

This will allows to share existent configurations without layers of copy-pasted files across vagrant shared folders and use a standard sandbox installation across k8s-sigs.

Instructions and capabilities to compile latest `kubernetes` branch must be added before to creating the cluster.

NOTE: With the re

[2021-12-21 21:25] knabben commented on #136
/assign

[2021-12-22 20:17] #3 closed

[2021-12-22 20:17] #8 closed

[2021-12-31 00:43] #64 closed

[2021-12-31 17:36] jayunit100 opened #138 "cleanup #124"
https://github.com/kubernetes-sigs/sig-windows-dev-tools/pull/124 Seemed to introduce a couple of hacky things, like hardcodeing the ip address and so on.  lets

- read through that MR and make sure we backout any stuff that is non essential
- add docs on specifics like the vcd.exe and ssl exe that we downloaded , and why theyre needed (i.e. does windows image-builder give this to us for free some

[2022-01-03 08:19] claudiubelu commented on #98
I don't think your usecase is for E2E tests, but just FYI, we do have an option in E2E to prepull images on the nodes since we merged this: https://github.com/kubernetes/kubernetes/pull/105481 And we've been using it in the master test jobs as well.

One idea would be to do something similar: have a daemonset yaml with various images that should be pulled on the nodes. Maybe it's not ideal, but it

[2022-01-03 17:11] knabben opened #139 "WindowsHostProcessContainers feature gate must be enabled"
WindowsHostProcessContainers was introduced as an Alpha on k8s 1.22, and must be enabled so we can use the feature in the Windows nodes

[2022-01-03 17:18] jsturtevant commented on #139
It should be on be default in 1.23+

[2022-01-07 19:17] #74 closed

[2022-01-14 09:18] #78 closed

[2022-01-14 13:22] #80 closed

[2022-01-14 13:22] #81 closed

[2022-01-14 13:22] #82 closed

[2022-01-14 13:22] #83 closed

[2022-01-14 17:27] dougsland opened #142 "master branch: make 2 failure - looping with crictl is required for container runtime: exec: "crictl": executable file not found in %PATH%"
# Cloning repo
[code]

# Cleaning environment
[code]

# Using make 2
[code]

[2022-01-14 21:10] jayunit100 opened #143 "add jamies blog post csi thingy"
https://www.phillipsj.net/posts/how-to-use-the-windows-csi-proxy-and-csi-smb-driver-for-kubernetes/

[2022-01-16 00:00] knabben opened #146 "Enhance the windows pod wait on smoke-test"
https://github.com/kubernetes-sigs/sig-windows-dev-tools/blob/master/makefile#L55

Change random sleep with `kubectl wait` for windows pods, 5 seconds is not enough for the windows nodes download the image, so the test fails.

[2022-01-16 00:00] knabben commented on #146
/assign

[2022-01-16 00:02] knabben commented on #142
The error comes from `winw1: error execution phase preflight: couldn't validate the identity of the API Server: could not find a JWS signature in the cluster-info ConfigMap for token ID "qirlpf"`, in fact there were multiple machines running with the same ip in the host, cleaning up and using only one work back.

/close

Slack thread:
https://kubernetes.slack.com/archives/C0SJ4AFB7/p16422696610238

[2022-01-16 00:02] #142 closed

[2022-01-16 00:07] knabben opened #147 "Add the ability to download the images instead of building on make-[0|1]"
There were some discussion and later accordance on how to get LATEST version of binaries on linux and windows with a faster approach than building everything from zero

from @jsturtevant comments on how CAPZ does the process for the CI:

[code]

The control of build vs. download must be set on `variables.yaml` with a boolean `build_from_source`.

[2022-01-16 00:07] knabben commented on #147
/assign

[2022-01-17 10:43] #85 closed

[2022-01-17 17:21] dougsland opened #149 "Document variables file in sync/shared in README.md"
# Question: What's the reason to have two variables file?
[code]

# Question: What's the meaning for each entry in the file?
[code]
# Question: Why the `variables-lite.yaml` contain different number of entries from `variables.yaml`?

- For example:

`16 entries in variables.yaml`
[code]

`13 entries in variables-lite.yaml`
[code]

# Question: Is variables-lite.yaml working at all?
[code]

# Questi

[2022-01-17 17:32] dougsland commented on #149
@knabben @aravindhp could you please add tag `good-for-first-issue?` I don't have perms.

[2022-01-17 18:00] aravindhp commented on #149
/label good-for-first-issue

[2022-01-17 18:00] aravindhp commented on #149
@dougsland looks that label is not available

[2022-01-17 18:33] dougsland opened #150 "flag for replacing kube-proxy and use kpng"
`kpng` is a replacement for `kube-proxy`, there are specific backends for windows like `userspace` and `winkernel`.
As soon there is a version for download in the kpng release page please allow users to decide if they want to use kube-proxy or kpng.

See-Also:
https://github.com/kubernetes-sigs/kpng/issues/222
https://github.com/kubernetes-sigs/kpng/pull/219

[2022-01-17 18:43] dougsland commented on #149
/good-first-issue

[2022-01-17 18:43] dougsland commented on #149
@aravindhp looks like it's a different command, thanks anyway :) teamwork++

[2022-01-17 19:04] dougsland opened #151 "make help"
# Issue
Today the `make help` or just `make` doesn't say anything about the options or the follow that must be followed to build the `sig-windows-dev-tools` environment.

# Goal
- `make help` should provide a short description of all options available in the `make` command
- The `short description` in the `make help` command should be auto-generated by `## command` on the top of the make target.

[2022-01-17 19:04] dougsland commented on #151
/good-first-issue

[2022-01-18 00:29] dougsland opened #152 "Use ci/latest as image for k8s_linux_apiserver"
# Issue:
The CI Image for APIServer is static is require manually change for updating.

# Steps to change it:
[code]

# How to test after the change?
[code]

Goal: make sure it's using the latest kubernetes image for CI without breaking the build process.

See discussion here for more info: https://github.com/kubernetes-sigs/sig-windows-dev-tools/pull/148

[2022-01-18 00:29] dougsland commented on #152
/good-first-issue

[2022-01-18 00:50] dougsland opened #153 "tag sig-windows-dev-tools Virtual Machines"
# Issue:
If the developer/tester try to run multiple instances of the project in **different dirs** it can cause `network conflict` and the next deploy kubeadm and friends will get lost and not able to talk with each other.

# step 1
[code]

# step 2
[code]

`The installation/deploy will fail.`

# Goal
Research if it's possible to tag the Virtual Machines created by the project and cleanup ANY VM

[2022-01-18 00:52] dougsland commented on #153
/good-first-issue

[2022-01-18 00:57] dougsland opened #154 "Makefile: use @ for commands"
A bunch a commands are displayed incorrectly, please use @ for make `echo` commands work correct. Additionally, it helps to hide some commands that don't need to be display. Please research on the topic.

Example:
[code]

This echos should use `@` in front to avoid displaying like:

[code]

No need to add `@` in the make clean. It's good idea to show which files are being deleted/removed.

[2022-01-18 00:57] dougsland commented on #154
/good-first-issue

[2022-01-18 01:06] dougsland opened #155 "Display information during the build with the data selected"
# Issue
Today when users execute `make 2` or `make` after cloning the repo is not displaying any information which options were selected from
`./sync/shared/variables.yaml`.

# Goal
Would be nice to display to users after executing `make` such information. This helps user understand what's happening, which APIServer is selected, kubelet, nodes IP, SHA, overwrite linux bins?, CNI, VM size etc.

[co

[2022-01-18 01:06] dougsland commented on #155
/good-first-issue

[2022-01-18 01:15] dougsland opened #156 "make CNI_NAME target"
Would be nice to have `calico` and `antrea` or others CNI as target so easy to clone and deploy a working environment with your favourite CNI.

Example:
`#  make calico` will execute behind the scenes in the makefile:

[code]

The same apply to the others CNI supported by the project.

[2022-01-18 01:15] dougsland commented on #156
/good-first-issue

[2022-01-18 01:18] dougsland opened #157 "Long Term: support libvirt"
Would be nice to have support for libvirt/kvm/virt-manager/virsh for building the environment.

[2022-01-18 01:53] dougsland opened #158 "controlplane.sh: split yaml from bash code"
# Issue
Address the TODO comment from the `./sync/linux/controlplane.sh` to split `yaml code` from `bash`.

# Suggestion
1. Create yaml dir in ./sync/linux/ dir to hold yaml files like the one below.
2. Remove  kube-proxy-and-antrea.yaml from bash, create  kube-proxy-and-antrea.yaml in `yaml` dir
3. in the bash use `kubectl create -f kube-proxy-and-antrea.yaml`

[code]

[2022-01-18 01:53] dougsland commented on #158
/good-first-issue

[2022-01-18 02:05] dougsland opened #159 "Check return code for bash commands"
# Issue
Today there is no validation in most of bash scripts if the command `failed` or not

# Suggestion
Add a check if a bash command failed we should stop the deploy and share a message why this happen.

1. Generic function to catch error in a command (require to add in the bash script or a common.sh)
[code]

2. Calling this function in `./sync/linux/controlplane.sh` (example)
[code]

[2022-01-18 02:05] dougsland commented on #159
/good-first-issue

[2022-01-18 02:22] dougsland opened #161 "README: add a note how to scp using valgrant"
We have few plugins as suggestion in the README.md, adding `vagrant-scp` is a good call as we need to send files to Windows node.

Example:
[code]

[2022-01-18 02:23] dougsland commented on #161
/good-first-issue

[2022-01-18 02:58] #147 closed

[2022-01-18 03:49] dougsland opened #162 "Set role for Windows node as worker during the Deploy/Build"
Today after the deploy, the node as marked as `<none>` it should be marked as `worker`

[code]

Example:
[code]

[2022-01-18 03:49] dougsland commented on #162
/good-first-issue

[2022-01-18 04:22] dougsland opened #163 "CI: Check in new PR if scripts have warnings/suggestions"
# Issue
- Please create `make shellcheck` or similar command to check `all shell scripts` in the source tree if there are `warnings or suggestions` (and fix it :+1: : ).
- Every new PR (if it's related to shell scripting) should check if the change includes `warnings and suggestions` and give negative review so the author must fix it before the merge.

Example of warning in existing shell scripts:

[2022-01-18 04:24] dougsland commented on #163
/good-first-issue

[2022-01-19 00:59] dougsland opened #166 "controlplane: Add developer tools/alias in the nodes"
~~Please add `k` as alias to `kubectl` pretty standard calling it as k - `alias k=kubectl`~~
~~- Add `kubetail` https://github.com/johanhaleby/kubetail  - For easy logging multi pods in a single command~~
~~- `krew - kubectl plugins` - https://krew.sigs.k8s.io/plugins/~~
~~- `iexec plugin for kubectl` - it helps to quick login to pods `kubectl krew install iexec`~~
~~- `view-secret` - Decode Kuber

[2022-01-19 00:59] dougsland commented on #166
/good-first-issue

[2022-01-19 01:38] dougsland opened #167 "winw1: cp : Cannot find path 'C:\sync\windows\bin' because it does not exist."
# Issue
Cannot deploy cluster with latest bits

Step by step:
[code]

`#sig-windows-dev-tools> git fetch  && git rebase`
`#sig-windows-dev-tools> make 2`
[code]

# Latest bits
[code]

[2022-01-19 02:09] dougsland opened #168 "[ERROR FileAvailable-C:-etc-kubernetes-pki-ca.crt]: C:/etc/kubernetes/pki/ca.crt already exists"
[code]

^C==> winw1: Waiting for cleanup before exiting...
    winw1: [preflight] Running pre-flight checks
    winw1: W0118 18:06:11.658689    1072 checks.go:1022] [preflight] WARNING: Couldn't create the interface used for talking to the container runtime: crictl is required by the container runtime: exec: "crictl": executable file not found in %PATH%
    winw1: error execution phase preflight:

[2022-01-19 07:23] RishiKumarRay commented on #158
I would like to try this

[2022-01-19 13:01] dougsland commented on #158
Great. Feel free to reach me, @FriedrichWilken or @knabben if you have any questions.

/assign RishiKumarRay

[2022-01-19 13:11] knabben commented on #167
we are officially supporting the latest version, so running targets is not supported anymore. I have updated the readme with this information. thanks for posting it.

/close

[2022-01-19 13:11] #167 closed

[2022-01-19 13:13] knabben commented on #168
[code]

we do not support rerun, looks like the node was already joined and fail, adding `vagrant destroy` on make to decrease this kind of issues.

/close

[2022-01-19 13:13] #168 closed

[2022-01-20 19:49] dougsland commented on #166
/close

[2022-01-20 19:49] #166 closed

[2022-01-20 19:57] dougsland commented on #152
@knabben already fixed that using stable:
[code]

[2022-01-20 19:57] #152 closed

[2022-01-22 09:42] #88 closed

[2022-01-22 14:20] dougsland opened #172 "avoid git clone kubernetes everytime `make all` is executed"
`make all` has the target `make clean` to make sure the environment is clean before building the sig-widows-dev-tools environment.

This is a great but enforce developers to `git clone kubernetes` tree every time a new test need to be executed. This consume time when downloading hundreds of MB, bandwidth and time rebuilding kubernetes.   For now, I would just remove `make clean` as requirement for

[2022-01-23 15:15] jayunit100 commented on #157
/good-first-issue

[2022-01-23 15:17] #149 closed

[2022-01-23 15:17] #150 closed

[2022-01-23 15:17] #151 closed

[2022-01-23 15:17] #153 closed

[2022-01-23 15:17] #154 closed

[2022-01-23 15:17] #155 closed

[2022-01-23 15:17] #156 closed

[2022-01-23 15:17] #158 closed

[2022-01-23 15:17] #159 closed

[2022-01-23 15:17] #161 closed

[2022-01-23 15:17] #162 closed

[2022-01-23 15:17] #163 closed

[2022-01-23 15:17] #172 closed

[2022-01-23 15:18] jayunit100 opened #177 "Batch MR with lots of Minor improvements"
- avoid git clone every time `make all` is executed
- check in new PR for warnings suggestings (lint)
- set role for windos node as `worker` during the deployment
- add README notes on how to use `scp` to shuttle files around
- check return codes for all BASH commands , fail early where appropriate
- add fully automated targets for CNIs, i.e. `make calico` or `make antrea` targets
- comments/docum

[2022-01-23 15:21] jayunit100 commented on #172
moved here https://github.com/kubernetes-sigs/sig-windows-dev-tools/issues/177

[2022-01-23 15:22] jayunit100 commented on #177
/good-first-issue
leaving this open, will avoid tackling it myself, hope a newcomer will takes this

[2022-01-23 15:22] jayunit100 commented on #162
spoke w/ doug and amim - we can make a large MR to fix this in side of #177

[2022-01-23 15:23] jayunit100 commented on #159
spoke w/ doug and amim - we can make a large MR to fix this in side of #177

[2022-01-23 15:23] jayunit100 commented on #156
spoke w/ doug and amim - we can make a large MR to fix this in side of #177

[2022-01-23 15:23] jayunit100 commented on #157
/reopen

[2022-01-24 02:44] dougsland opened #179 "calico: User "system:serviceaccount:kube-system:calico-node" cannot list resource "endpointslices" in API group "discovery.k8s.io""
Pod `calico-node` not coming up.

Example:
`kube-system   calico-node-rm2pl                          0/1     Running   0          25m`

[code]

[2022-01-24 14:53] dougsland commented on #179
patch is merged, all green now. /close

[2022-01-24 14:53] #179 closed

[2022-01-27 04:04] jsturtevant opened #181 "if BUILD_FROM_SOURCE=0 then don't checkout source"
If i am not building form source then I don't need to checkout the k/k repo. A fresh checkout takes several minutes which can be avoided since I am downloading the executables in a later step

[2022-01-27 04:09] jsturtevant opened #182 "If the binaries are already downloaded don't re-download"
If I have the Kubernetes binaries already downloaded for the version I am working with, don't download them again which takes time.

[2022-01-27 04:13] jsturtevant opened #183 "hostnetwork only causes issues on first run on fresh setup"
[code]

[2022-01-27 04:18] jsturtevant commented on #183
From https://www.virtualbox.org/manual/ch06.html#network_hostonly

This seems to work:

      * 10.0.0.0/8 192.168.0.0/16

[2022-01-29 23:18] #76 closed

[2022-02-01 15:44] #4 closed

[2022-02-01 15:44] #79 closed

[2022-02-02 13:57] johnSchnake commented on #98
So I haven't touched this in a while but wanted to make something clear for any other readers. I'm not just talking about pre-pulling the images before tests. I think thats what the above k8s functionality allows.

What I mean is that the Windows images are so large, pulling them from 'the wild' takes too long. As a result, if I have copies (e.g. in a tarball) on my local machine, and my images ar

[2022-02-19 08:28] #99 closed

[2022-02-19 15:29] #93 closed

[2022-02-25 19:43] #35 closed

[2022-03-04 14:01] #98 closed

[2022-03-05 16:14] #111 closed

[2022-03-05 20:14] #121 closed

[2022-03-11 15:28] carkrueger opened #186 "Stupid question: What environment is expected for executing "make all"?"
Hi,

what environment is expected for executing "make all"?

-Cygwin?
-msys2?
-WSL?

greetings
Carsten

[2022-03-25 22:53] #46 closed

[2022-03-26 07:57] #125 closed

[2022-04-03 10:16] #110 closed

[2022-04-03 10:16] #123 closed

[2022-04-06 16:57] FriedrichWilken commented on #128
/close

[2022-04-06 16:58] #128 closed

[2022-04-14 15:41] knabben commented on #186
hi Carsten

this is being tested only on Linux (mostly tested on ubuntu machines) due to vagrant compatibility in these other env.

[2022-05-01 02:48] #127 closed

[2022-05-02 23:13] luckerby opened #188 "OpenSSL installer link is now broken in 0-antrea.ps1"
Trying to setup the 2-node setup never completes, as the Windows nodes runs into a problem when running the 0-antrea.ps1 script as seen in the [full log here](https://gist.github.com/luckerby/b2dc0dc908bddb81a933909abcb6ce73). On a closer look, downloading the OpenSSL client yields a strange 153-bytes executable. The reason for this is the respective version no longer exists on the source site tha

[2022-05-02 23:20] luckerby opened #189 "Cannot schedule pods on the Windows node"
After completing the setup for the 2 nodes-setup (1x Linux control plane node and 1x Windows worker node), and ensuring that the configuration is finished on both nodes (due to #188 this currently means pasting the 1-antrea.ps1 file in an SSH connection on the Windows node (the file cannot be accessed by going to C:\sync\windows) for whatever reason)) trying to schedule a pod on the Windows node d

[2022-05-06 11:36] knabben commented on #189
For this issue in particular it's related with the missing OpenSSL installation
https://github.com/kubernetes-sigs/sig-windows-dev-tools/issues/188

[2022-05-06 20:21] #129 closed

[2022-05-16 11:08] knabben commented on #146
/remove-lifecycle rotten

[2022-05-16 21:33] #130 closed

[2022-05-20 23:08] #136 closed

[2022-05-21 20:36] jayunit100 opened #193 "missing instructions for ubuntu setup"
@dougsland  has some updates for this

[2022-05-23 14:23] jayunit100 opened #194 "update to latest k8s"
lets update to the latest k8s for all the components

[2022-05-23 14:23] jayunit100 commented on #194
/assign @dougsland

[2022-05-30 19:14] #138 closed

[2022-06-02 18:32] #139 closed

[2022-06-05 01:19] jayunit100 opened #195 "CNI=Antrea --> Windows nodes: CNI and Kube-Proxy not running."
I ran sig-windows-dev-tools from head today. it installs Antrea.

## 1) In the linux node, CNI is installed and working

[code]

## 2) HOWEVER,  Looking in the windows node:

[code]

the error is

[code]

Note from slack, amim mentioned, this is SSL + OVS related ?

[code]

[2022-06-13 23:06] #143 closed

[2022-06-22 16:36] #177 closed

[2022-06-26 05:23] #181 closed

[2022-06-26 05:23] #182 closed

[2022-06-26 05:23] #183 closed

[2022-07-04 17:37] jayunit100 opened #198 "antrea OvS not installing"
Looks like as of today, somehow ovs isnt starting....

Any ideas on why ?

Reproducing:
[code]

Debugging:

[code]

Nothing in the openvswitch logs....

[code]

Full logs i see are:

[code]

[2022-07-06 02:00] wenyingd commented on #198
Could you provide your steps to install Antrea and OVS?

[2022-07-07 01:33] jayunit100 commented on #198
Hi wenying

The scripts in the repo run antrea install via powershell they are in the fork/ directory

Running make all you can see them run

Can add more details if that doesn't help or debug live together

[2022-07-11 02:34] wenyingd commented on #198
@jayunit100 Thanks for providing the OVS installation logs. It looks the service of ovsdb-server fails to start which blocks the later installation steps. The issue should be related with several missing DLLs on for OpenSSL on the Windows host. Would you try to download and install this exe file (https://slproweb.com/download/Win64OpenSSL-3_0_5.exe)  on the issued host, and then re-install OVS?

[2022-07-13 14:28] jayunit100 commented on #198
right now we use "Win64OpenSSL-3_0_3.exe" ... is that ok ? or we need 3_0_5 ?

[2022-07-13 14:30] jayunit100 commented on #198
testing w/
https://slproweb.com/download/Win64OpenSSL-3_0_5.exe now will let you know if it works.  Do you see any flaws with our existing installer for this ?

https://github.com/kubernetes-sigs/sig-windows-dev-tools/tree/master/sync/windows

[2022-07-13 15:59] jayunit100 commented on #198
@wenyingd whats the "right" way to install OpenSSL from our powershell automation ?

[2022-07-13 16:12] jayunit100 commented on #198
looks like

[code]

from @marosset  working? will see if that can be used instead

[2022-07-13 16:27] jayunit100 commented on #198
per mark rosetti something like
- add openssl.ps1 script to https://github.com/kubernetes-sigs/sig-windows-dev-tools/tree/master/sync/windows
- have it wget opeenssl msi
- then use msiexec.exe w/ no-ui

will try that later, then will retry the antrea install

[2022-07-14 06:34] wenyingd commented on #198
Having some offline discussions with @knabben , and we come to a problem when installing OpenSSL exe file with EULA   , a popup is on the console to wait for user agreement input, which is not acceptable for the automation. And @knabben has another patch to copy the dll files directly to system path. But this might introduce conclict on different OS versions.

Personally, I prefer to install SSL d

[2022-07-14 06:42] wenyingd commented on #198
I remembered @knabben used to say that the working version of openssl is 1.0.2u, which is not found from the original valid download link. I think that version is working because of no EULA stuck. So maybe we could try to download it from this link https://indy.fulgan.com/SSL/ ( I got a link to download openssl_x64_1.0.2u in this site), which is also a recommended link for Windows OpenSSL suggeste

[2022-07-15 01:48] jayunit100 commented on #198
you mean https://indy.fulgan.com/SSL/openssl-1.0.2u-x64_86-win64.zip ?

[2022-07-15 01:57] jayunit100 commented on #198
ok i uploaded https://storage.googleapis.com/jayunit100/openssl.exe to try it in the recipe along w the Open SSL license to the same buckettt... testing now

[2022-07-15 02:00] wenyingd commented on #198
Yes, this is a recommended link to download a version which works.

[2022-07-16 01:13] jayunit100 commented on #198
that didnt seem to work.  trying

[code]

... will update tomorrow...

PS @wenyingd ... why does Antrea need OpenSSL ?

[2022-07-17 02:08] jayunit100 commented on #198
i didnt have any luck with this , either.
We'll need to dig further into: whats the right sustainable path to install `ovsdb-server` on windows nodes...

[2022-07-18 03:11] wenyingd commented on #198
OpenSSL is required by OVS not Antrea. The OVS bits compilation needs OpenSSL support, so it also needs it in the runtime.

[2022-07-19 03:09] jayunit100 commented on #198
so, when we say runtime here, *why* ? isnt OpenSSL just a protocol that is compiled into the binary?  sorry for the naive question

[2022-07-19 03:14] wenyingd commented on #198
My word is not clear. My point is, when we run ovsdb-server/ovs-vswitch processes, they search for the dll files on the Windows host. But if they fail to find the dependent dlls, the bits are not able to run.

`choco install openssl` actually places the two dlls files "libeay32.dll" and "ssleay32.dll" to Windows system root path (C:\windows\system32), which is a path used for dll searching. So aft

[2022-08-02 17:12] jayunit100 opened #200 "add a new provider that works on windows"
It would be nice if we could use a windows laptop to build a cluster.  right now we

- rely on https://vagrantcloud.com/sig-windows-dev-tools/boxes/windows-2019/versions/1.0/providers/virtualbox.box to be pulled remotely
- then we use vbox to create a 2 node cluster
- then we ssh into those and run bash commands, etc, to bootstrap things

this wouldnt easily work in a windows environment

[2022-08-02 17:19] jayunit100 commented on #200
/assign @luthermonson

[2022-08-04 16:11] knabben commented on #200
/close

[2022-08-04 16:11] #200 closed

[2022-08-04 16:19] luthermonson opened #203 "True Windows Support"
The solution for windows support is to run everything in WSL since there is no real support for `make` on windows. This is functional but everything in this repo can be ran in windows with no issues if we do one of the following two things...

1. There really isn't any great support for Makefile on windows and it's best to avoid if you want a cross platform tool. My personal favorite way to fix th

[2022-08-06 14:14] dougsland commented on #198
let me dig this one.
/assign

[2022-08-07 14:38] jayunit100 commented on #198
thanks @dougsland !

[2022-08-07 14:41] jayunit100 commented on #198
ok,

- so the key requirement is "install DLL files for openSSL into "C:/windows/system32"
- If we use choco install openssl, we then expect the `'ovsdb-server (ovsdb-server)' cannot be started due to the following error: Cannot start
service ovsdb-server on computer '.'.` error to go away ?

@wenyingd ? if so i think that will allow doug to finish implementing this.

[2022-08-08 03:14] wenyingd commented on #198
You are correct, `the key requirement is "install DLL files for openSSL into "C:/windows/system32"`, one thing I want to add is, except for path `C:/windows/system32`, installing DLL files into  path "c:/openvswitch/usr/sbin" also works to resolve the ovsdb-server start failure issue.

As for your question that `choco install openssl --yes` doesn't resolve the issue according to your experience, c

[2022-08-10 10:55] jayunit100 commented on #198
ok so , I think we're saying
- that `choco install openssl --yes` might do the wrong path.
- the fix in (https://github.com/antrea-io/antrea/issues/4027) will download OpenSSL FOR US so that if its not there, we just get a fresh installation

So, there are two possible fixes we can do?

[2022-08-10 10:57] wenyingd commented on #198
yes

[2022-08-29 13:53] dougsland commented on #198
@wenyingd hey, tried updating the CNI to 1.8.0 and still no good. Please see: https://github.com/kubernetes-sigs/sig-windows-dev-tools/pull/204

If you can review anyway the patch, I believe we must update the CNI as it's far behind.

[2022-08-31 02:31] dougsland commented on #195
This issue was resolved, just tested, closing.

[code]

[2022-08-31 02:31] dougsland commented on #195
/close

[2022-08-31 02:31] #195 closed

[2022-08-31 02:32] dougsland commented on #193
The Ubuntu steps are all set in the README, users have being using and approved it. Closing for now.

[2022-08-31 02:32] dougsland commented on #193
/close

[2022-08-31 02:32] dougsland commented on #193
/assign

[2022-08-31 02:32] #193 closed

[2022-08-31 02:35] dougsland commented on #186
@knabben already addressed the question. Closing for now.
See Also: https://github.com/kubernetes-sigs/sig-windows-dev-tools/issues/203

[2022-08-31 02:35] dougsland commented on #186
/close

[2022-08-31 02:35] #186 closed

[2022-08-31 02:39] dougsland commented on #188
This issue has being resolved by the patch below. Feel free to re-open in case it still shows up.

[code]

[2022-08-31 02:39] dougsland commented on #188
/close

[2022-08-31 02:39] #188 closed

[2022-08-31 02:40] dougsland commented on #189
As @knabben mentioned, related to #188. Closing as dup

[2022-08-31 02:40] dougsland commented on #189
/close

[2022-08-31 02:40] #189 closed

[2022-08-31 02:40] dougsland commented on #194
alright, back on track. Going to start looking to this one.

[2022-08-31 02:41] dougsland commented on #194
/remove-lifecycle rotten

[2022-08-31 02:43] dougsland commented on #194
/remove-lifecycle stale

[2022-08-31 02:48] dougsland commented on #194
Alright, just checked this issue was addressed by @knabben via below patch.

[code]

*snip*
[code]
*snip*

[code]

[2022-08-31 02:49] dougsland commented on #194
/assign @knabben
/close

[2022-08-31 02:49] #194 closed

[2022-08-31 11:01] #198 closed

[2022-08-31 13:33] jayunit100 opened #206 "Add CI to sig-win-dev-tools"
We have no github actions! we need ... something?

- can we make windows VMs in github actions ?
- or should we use a vagrant cloud provider or something ?

[2022-08-31 13:36] jayunit100 opened #207 "add a "test.sh" script"
since we dont have CI lets do this.

1) Add a test.sh script to the repo
2) When we make PRs , people run the test.sh script.
3) The script  takes as input (CNI, k8s commit ID).
- runs make all... makes a new cluster from k8s master w calico or antrea (option)
- Runs operational readiness spec w/ Core test specification
- Passes or Fails based on results

This can be broken into two issues.

- Fir

[2022-08-31 13:36] dougsland commented on #207
/assign

[2022-09-04 02:43] dougsland commented on #206
Hi @jayunit100,

Unfortunately Github Actions doesn't support VT-x flag:
[code]

A possible solution: Allocate some machines 24/7 with VTx and add these machines as [Self-host workers (Github runner)](https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners)

[2022-09-04 02:45] dougsland commented on #206
Another point to consider, adjust the network classes, GitHub Actions currectly complains about `10.20.30.x` already set in the scripts. It's trivial change as showed here:

[code]

[2022-09-04 02:47] dougsland commented on #206
Here a demo GitHub Actions for the project:
`sig-windows-dev-tools> mkdir -p  .github/workflows/initialtest.yml `
[code]

As mentioned above, even with the `network class` change, GH Actions still doesn't support VT-x. As soon it supports, it should work out of box.

[2022-09-04 02:48] dougsland commented on #206
@jayunit100 please let me know your thoughts.

[2022-09-04 02:49] dougsland commented on #207
@jayunit100 we have VT-x limitation describe in #206 please let me know your thoughts.

[2022-09-06 16:35] jayunit100 commented on #206
ah great find thanks doug

[2022-09-06 16:36] jayunit100 commented on #206
ah looking https://github.blog/changelog/2022-09-01-github-actions-larger-runners-are-now-in-public-beta/ enterprises can do this?

[2022-09-06 20:10] dougsland commented on #206
From my understanding, this is only increasing capacity, not CPU flags in their environment. :(

[2022-09-30 11:18] jayunit100 opened #208 "calico brokeee"
[code]

[2022-10-03 16:35] dougsland commented on #208
/assign

[2022-10-03 16:36] dougsland commented on #208
let me jump into it

[2022-10-04 04:52] dougsland commented on #208
@jayunit100 I cannot reproduce in raw tree [master]. Any specific change in your config that maybe I am missing?

[code]

[2022-10-07 16:31] jayunit100 commented on #208
ill try to repro again this wknd thanks doug!

[2022-10-10 15:03] dougsland commented on #208
/close

[2022-10-10 15:03] #208 closed

[2022-10-11 11:24] jayunit100 commented on #208
Yup thx

 will try to see if I can repro again some day but for now not an issue

[2022-10-13 12:53] #146 closed

[2022-10-14 10:51] jayunit100 opened #209 "move the sync/shared/variables.yaml up to root"
the sync/shared/variables.yaml file is a config to the low level provisioners (like controlplane.sh that runs it)... but... its ALSO part of our user interface.

lets move it up to the root directory so anyone using sig-windows-dev-tools knows where
the config knobs are, without having to RTFM

[2022-10-17 18:32] jayunit100 opened #212 "support the AWS Vagrant-provider"
A big blocker to onboarding new sig-windows contributors is laptop resources  -  many folks, esp folks say on a M1 mac , just dont have the free RAM required to run a Windows Kubelet (8g) and a Linux Kubelet (2g) and the 4 total cores we suggest , alongside other apps .

Since AWS is probably the most common cloud, and they have pretty free trials / etc that often bootstrap new folks, we can proba

[2022-10-28 18:48] jayunit100 opened #214 "add a networks check for new installations of vbox, and support coffeshop internet"
So, we need a way to initalize valid networks for vbox on startup, something like

append to /etc/vbox/networks.conf
[code]

only effects first time users, could be done in the makefile i guess .

ALSO we need to  add to controlplane.sh, something that sets /etc/resolv.conf 8.8.8.8

/good-first-issue

[2022-10-28 22:04] jayunit100 opened #216 "Head is borked"
ill fix this later
[code]

[2022-10-29 00:27] jayunit100 commented on #216
NVM, as long we we vagrant install the windows plugins per readme, i think this is a non issue .

for searchability, FYI if windows vagrant plugins arent installed, you get
[code]

[2022-10-29 00:28] #216 closed

[2022-11-01 17:01] jayunit100 opened #217 "Host Process containers for CNIs"
see https://github.com/kubernetes-sigs/sig-windows-tools/pull/239/files

And lets co-evolve to accomodate flannel and calico host-process CNIs.

- calico: https://projectcalico.docs.tigera.io/getting-started/windows-calico/quickstart#install-calico-for-windows-using-hostprocess-containers

- antrea: https://antrea.io/docs/v1.10.0/docs/windows/

some links for noobs that might help
[code]

[2022-11-01 18:53] jayunit100 commented on #217
/good-first-issue

ping me, @knabben  , @dougsland  for help getting started

[2022-11-22 16:37] Abastien1734 commented on #214
/assign

[2022-11-29 00:46] knabben commented on #157
/remove-lifecycle rotten
/reopen

[2022-11-29 00:48] knabben commented on #157
A few advances on this front using vagrant-libvirt

[code]

The box was converted to qcow2 and Vagrant has the libvirt provider image to download
https://app.vagrantup.com/sig-windows-dev-tools/boxes/windows-2019